
.stroke
{
    width:10px;
    height: 100%;
    float:right;
    outline: 1px dashed #fff;
    outline-offset: -10px;
    position: absolute;
    right: 0;
    top: 0;
}

ul.sort
{
  list-style: none;
}

ul.sort li
{
    display: inline-block;
}
.write-review
{
    width: 100%;
}

.social-list a
{
    text-decoration: none;
}