
.stroke
{
    width:10px;
    height: 100%;
    float:right;
    outline: 1px dashed #fff;
    outline-offset: -10px;
    position: absolute;
    right: 0;
    top: 0;
}

ul.sort
{
  list-style: none;
}

ul.sort li
{
    display: inline-block;
}
.write-review
{
    width: 100%;
}

.social-list a
{
    text-decoration: none;
}


.company-info .company-info-list>li {
    white-space: nowrap;
}

.company-info .company-info-list .info {
    white-space: normal;
}

.white-popup-block
{
    color: #fff;
    text-align: center;
}
.white-popup-block h1
{
    margin-bottom: 20px;
}

.white-popup-block p
{
    font-size: 20px;
}

.white-popup-block a
{
    padding: 20px;
    font-weight: normal;
}

.white-popup-block a, .white-popup-block a:hover
{
    color: #ff2250;
}
.white-popup-block a:hover
{
    font-weight: bold;
}

.social-list
{
    top: 10px !important;
}

.company-clients>li.violet span
{
    color: #28185d;
    font-size: 16px;
}